<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>All Users</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel = "stylesheet">
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main-content">
      <div class="page-header">
        <div class="page-head">All Users</div>
        <button onclick="window.location.href = '/user/register' ">
          Add User
        </button>
      </div>
      <table class="user-data">
        <tr>
          <th>Name</th>
          <th>College</th>
          <th>Branch</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% for(var i=0; i<r.length; i++){%>
        <tr>
          <td><%=r[i].name%></td>
          <td><%=r[i].college%></td>
          <td><%=r[i].branch%></td>
          <td> <a href="/edituser/<%=r[i]._id%>"><i class="fas fa-user-edit"></i></a></td>
          <td><a href="/deluser/<%=r[i]._id%>"><i class="fas fa-user-minus"></i></a></td>
        </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
