<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Delete User</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main-nav">
      <div>
        <a href="/user"><i class="fas fa-home"></i> Home</a>
      </div>
    </div>
    <div class="main-content">
      <div class="profile-head">
        <div><img src="<%=r.profileimage.url%>" alt="proimg" class="dp" /></div>
        <div><%=r.name%></div>
      </div>
      <table class="user-content">
        <tr>
          <td class="heavy">College</td>
          <td><%=r.college%></td>
        </tr>
        <tr>
          <td class="heavy">Branch</td>
          <td><%=r.branch%></td>
        </tr>
        <tr>
          <td class="heavy">E-mail</td>
          <td><%=r.email%></td>
        </tr>
        <tr>
          <td class="heavy">Gender</td>
          <td><%=r.gender%></td>
        </tr>
        <tr>
          <td class="heavy">Date of Birth</td>
          <td><%=r.dob%></td>
        </tr>
        <tr>
          <td class="heavy">Phone No.</td>
          <td><%=r.phone%></td>
        </tr>
        <tr>
          <td class="heavy">Current Address</td>
          <td><%=r.caddr%></td>
        </tr>
        <tr>
          <td class="heavy">Permenant Address</td>
          <td><%=r.paddr%></td>
        </tr>
      </table>
    </div>
  </body>
</html>
